<!-- AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.reactlibrary">
    <!-- iBeancon 功能所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 个推电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application android:usesCleartextTraffic="true">
        <service
            android:name="com.reactlibrary.GetuiPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <!-- 用户自定义服务继承自GTIntentService,作为SDK与APP桥梁服务,用来接收各种消息和命令回复-->
        <service android:name="com.reactlibrary.PushIntentService" />
    </application>
    <queries>
        <intent>
            <action android:name="com.getui.sdk.action" />
        </intent>
    </queries>
</manifest>
